*{
    box-sizing: border-box;
    font-size: 16px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: green;
    background-color: grey;
}

p{

    color: blue;
    font-size: 1rem;
    text-align: justify;
}
li{
    color: red;
}
table{
    text-align: center;
    color: rgb(19, 153, 131);
}
tbody{
    color: red;
}
.ejhg{
    width: 180px;
    height: 180px;
    background-color: brown;
    
}

.ejhg:hover{
    width: 200px;
    height: 200px;
}
.ejhg:active{
    background-color: aqua;  
}
body .ejhg .dummy{
    width: 90%;
    height: 90%;
    background-color: blueviolet;
}

body .ejhg .dummy p{
    font-size: 2rem;
    color: coral;
}

.ejhg > p{
    background-color: aquamarine;
    border: solid black 5px;
    width: 80%;
}

/*saddfsafda comentario*/

body .ejhg .dummy{
    background-color: green;
}